.App{
    width: 100vh;
    margin: 0 auto;
}

.board {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}

.column {
    display:flex;
    flex-direction: column;
}
